.imenu{
    margin-top: 12px;
    margin-right: 12px;
    float: right;
    border: solid 1px;
    border-radius: 50%;
}

.ilogo {
    margin: auto;
    padding: auto;
    height: 50px;
    width: 50px;
    background-color: rgb(185, 238, 220);
    border-radius: 50%;
    overflow: hidden;
}
.ilogo img{
    width: 100%;
    height:100%
}

.mlogo img{
    float: left;
    margin: 15px;
    width: 12rem;
}